.nav-links {
  display: flex;
  margin: 0;
  padding: 19px;
  background-color: #DAE9F0;
  border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #eef5f5;
    font-weight:bolder;
    font-size: 20px;
    font-family: Arial, sans-serif;
    width: 100%;
    justify-content: space-around;
}
.links{
  list-style: none;
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.nav-links img{
  border-radius: 30px;
}
 button.boton-concentrado {
background-color: #c8def3;
  color: #0e0c0c;
  border: 1px solid #374151;
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
  
  .boton-concentrado:hover {
    background-color: #f1f2f3 ;
    color:#131212;
  }
