.form-panel {
    background: #252527;
    color: #f1f5f9;
    padding: 20px;
   
    overflow-y: auto;
    display: flex;
  
    flex-direction: column;
   /
}



.form-panel::-webkit-scrollbar {
    width: 8px;
}

.form-panel::-webkit-scrollbar-thumb {
    background: #50576b;
    border-radius: 20px;
}

/* Tarjetas */

.grupo-control {
    background: #2b2f3b;
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, .25);
    transition: .25s;
}

.grupo-control:hover {
    transform: translateY(-2px);
}

.grupo-control h5 {
    margin-bottom: 18px;
    color: #94a3b8;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .75rem;
}

/* Botones */

.botones {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #050708;
}

.btn-tema {
    border: none;
    border-radius: 12px;
    padding: 12px;
    cursor: pointer;
    font-weight: 600;
    transition: .25s;
    color:#050708
}

.btn-tema:hover {
    transform: scale(1.03);
    box-shadow: 0 5px 12px rgba(0, 0, 0, .25);
}

/* Voz */

.btn-success,
.btn-danger {
    width: 100%;
    font-weight: 600;
    border-radius: 10px;
    padding: 10px;
}

/* Tamaño letra */

.tamaño-container {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.botones-tamano {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.btn-letra {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background: #3b4252;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: .25s;
}

.btn-letra:hover {
    background: #4f5d75;
}

/* Selector de color */

.color-picker-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background: #1a2720;
    border-radius: 10px;
    color:white;
}

.color-picker-container label {
    font-weight: 600;
}

input[type=color] {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background: none;
    cursor: pointer;
}

/* Separador */

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #4a5568;
}

/* Botón cerrar */

.btn-cerrar {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #ef4444;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: .25s;
}

.btn-cerrar:hover {
    background: #dc2626;
}
.header-panel {
    background: #1b1d24;
    color: #f1f5f9;
    padding: 10px 20px;
    border-bottom: 1px solid #4a5568;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.panel-body {
    padding: 0 !important;
    /* Fuerza a que no haya padding extra que oculte cosas */
    display: flex;
    flex-direction: column;
}
.panel-accesibilidad {
    background: #252527;
  

}
