.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal-content {
    background: rgb(12, 12, 12);
    width: 90%;
    height: 90%;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    padding: 20px;
    color: #eff3f3;
}

.modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.modal-body {
    height: 100%;
    width: 100%;
    overflow-y: auto;
   
    padding-bottom: 50px;
   
}